@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-3xl font-bold leading-tight mb-2;
  }

  h3::first-letter {
    @apply text-7xl font-bold float-left;
    line-height: 0.8;
    margin-right: 0.1em;
    margin-top: -0.1em;
  }

  aside {
    @apply bg-gray-100 p-4 rounded-lg shadow-md;
  }
}
