package components

templ RedDoorHome(assetsPath string) {
	<a href="/" class="w-full flex justify-center p-8 pb-0">
		<img src={ assetsPath + "red_door_nobg.png" } alt="Red Door" class="w-32 h-auto object-contain cursor-pointer"/>
	</a>
}
